body {
	margin: 0;
}

.contenedor {
	width: 900 px;
	margin: 0 auto;
	display: block;
}

#seccionInicial .logo {
	width: 60px;
	height: 40px;
}

#seccionInicial .titulo {
	color: orange;
	font-size: 3em;
	text-align: center;
}

#seccionInicial p.descripcionEmpresa {
	color: #1a1a1a;
	font-size: 1em;
	font-family: 'Arial', 'sans-serif';
}

#seccionContenido .contenedorTabs {
	width: 100%;
	color: white;
	font-size: 1.5em;
	border-bottom: orange solid 1px;
}

.contenedorTabs li {
	list-style: none;
	display: inline-block;
}

.tab {
	color: white;
	background-color: orange;
	border-radius: 5%;
	border-bottom: none;
	padding: 10px;
	width: 100px;
}

.divImg, .divTexto {
	display: inline-block;	
}

.fotoComida {
	width: 500px;
	height: 400px;
}

.divTexto {
	position: absolute;
	padding-left: 36px;
}

.divTexto h3 {
	font-size: 2em;
	font-family: 'Roboto', sans-serif;
}